.navbar{
    display:flex;
    justify-content: space-between;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.822) ;
    align-items: center;
    font-family: 'Space Grotesk', sans-serif;
}
.logo-nav{
    word-spacing: 5px;
    font-size: 23px;
    text-decoration: none;
    color: #00ccff;
    text-shadow:0 0 5px #0077cc;
}
.ul-nav{
    display:flex;
    list-style: none;
    align-items: center;
    gap: 20px;
}
.nav-link{
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    color:rgba(255, 255, 255, 0.799) ;
}

.nav-login{
    width: 40px;
    
}

.nav-link :hover{
    color: #eef2f3;
    text-shadow:0 0 5px #0077cc,
    0 0 10px #00ccff,
    0 0 20px #0099ff,
    0 0 40px #0077cc;
}

.nav-login:hover{
    filter: brightness(0) invert(1)
          drop-shadow(0 0 5px #00ccff)
          drop-shadow(0 0 5px #00ccff)
          drop-shadow(0 0 5px #0099ff);
}