.navbar{
    display:flex;
    justify-content: space-between;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.845) ;
    align-items: center;
    font-family: 'Space Grotesk', sans-serif;
}
.img-nav{
    width: 80px;
}
.ul-nav{
    display:flex;
    list-style: none;
    align-items: center;
    gap: 20px;
    color:rgba(255, 255, 255, 0.799) ;
}
.nav-link{
    font-size: 20px;
    font-weight: 700;
}

.nav-login{
    width: 45px;
    font-weight: 700;
}