* {
	margin: 0;
	padding: 0;
}
h2 {
	padding: 0.5rem 0 0.5rem 0;
	text-align: center;
	color: #2eb5e0;
}
h3 {
	padding: 1rem;
	color: #2eb5e0;
}
.missionsStatsGlobal {
	display: grid;
}
.statsWrapper {
	background-color: #001b2b;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto auto;
	border: #2eb5e0 solid 3px;
	flex: 1;

	border-radius: 15px;
}
.missionStats {
	display: flex;
	flex-direction: column;
	grid-row: 1 / 3;
	color: #2eb5e0;
	border-right: 3px solid #2eb5e0;
}
.missionDiv {
	display: flex;
	margin: 0 20px 0 0;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
.missionDivGlobal {
	border-top: 3px solid #2eb5e0;
}
.missionTypeDiv {
	display: flex;
	margin: 0 3em 0 0;
	justify-content: space-between;
}
.textMissionDiv {
	color: #2eb5e0;
}
.valueText {
	font-weight: bolder;
}
.activityStats {
	display: flex;
	flex-direction: column;
	color: #2eb5e0;
	padding: 1em;
	grid-column: 2;
	grid-row: 1;
}
.activity-ul {
	list-style: none;
	color: #2eb5e0;
}
.typeMissions {
	grid-column: 2;
	grid-row: 2;
	border-top: 3px solid #2eb5e0;
	padding: 1em;
}
