:root {
	--secondaryFont: "Space Grotesk", serif;
}

.footer {
	background-color: rgba(0, 0, 0, 0.822);
	padding: 20px;
	text-align: center;
}
.footer-p {
	color: rgba(255, 255, 255, 0.799);
	font-family: var(--secondaryFont);
}
