@import url("https://fonts.googleapis.com/css2?family=Carter+One&family=Lexend:wght@100..900&family=Limelight&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Serif+Display:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playfair:ital,opsz,wght@1,5..1200,300..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&family=Space+Grotesk:wght@300..700&display=swap");


.profilDescriptifGlobal {
    display: flex;
    justify-content: center;
}
.DescriptifDuProfil {
	display: flex;
	align-items: center;
    width: 75%;
	padding-top: 2em;
	color: white;
}

.avatarAndName {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 30%;
    gap: 1em;
}

hr {
    width: 60%;
    box-shadow:
        0 0 5px #e63946,
        0 0 10px #e63946,
        0 0 20px #e63946,
        0 0 40px #e63946;
    margin: 1em auto;
    height: 1px;
}

.Competences {
     display: flex;
    flex-direction: column;
    background-color:hsla(202, 100%, 8%, 0.5) ;
    gap: 4.5px;
    width: 70%;
    border: 2px solid #2eb6e085;
    border-radius: 10px 10px 0 0px;
    box-shadow:
        0 0 5px #2eb6e085,
        0 0 10px #2eb6e085,
        0 0 20px #2eb6e085,
        0 0 40px #2eb6e085
}



.divTexteProfil {
 display: flex;
    text-align: start;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    padding: 0 90px;
}

h1 {
    font-size: 3em;
    font-weight: 550;
    text-align: center;
    font-family: "Space Grotesk", sans-serif;
    text-shadow:
    0 0 5px #E63946,
    0 0 10px #E63946,
    0 0 20px #E63946,
    0 0 40px #E63946
}

.profilName {
    font-size: 2em;
    font-weight: 550;
    text-align: center;
    font-family: "Space Grotesk", sans-serif;
    text-shadow:
    0 0 5px #2eb5e0,
    0 0 10px #2eb5e0,
    0 0 20px #2eb5e0,
    0 0 40px #2eb5e0;
}


.titreCompetences {
    font-size: 2em;
    font-weight: 550;
    text-align: center;
    font-family: "Space Grotesk", sans-serif;
}

.paraCompetences {
    font-size: 1.5em;
    text-align: center;
    font-family: "Manrope", sans-serif;
    padding: 0.5em;
}

.photoProfilPourMercenaire {
    border-radius: 100%;
    width: 10em;
    height: 10em;
}

